<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="console" filename="log/console.log" immediateFlush="true">
            <PatternLayout pattern="[%d{YYYY-MM-dd HH:mm:ss}]%n%msg%n" />
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
        </File>
        <File name="requests" filename="log/requests.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} - %msg%n" />
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="console" />
        </Root>
        <Logger name="requests" level="info">
            <AppenderRef ref="requests" />
        </Logger>
    </Loggers>
</Configuration>